[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=compressHere;
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel

[Desktop Action compressHere]
Name=Compress...
Name[de]=Komprimieren...
Name[es]=Comprimir...
Name[it]=Compressione...
Name[fr]=Compresser...
Name[zh_CN]=压缩...
Name[pl]=Spakuj...
Name[pt_BR]=Comprimir...
Name[cs]=Komprimovat...
Name[tr]=Sıkıştır...
Name[da]=Komprimér...
Icon=utilities-file-archiver
Exec=engrampa %U --add
